@import url("https://fonts.cdnfonts.com/css/call-of-ops-duty");
@import url("https://fonts.cdnfonts.com/css/i-am-awake");
@import url("https://fonts.cdnfonts.com/css/sepiaridom");

html,
body {
  background-color: #f2f0f0;
  margin: 0;
  padding: 0;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
